management:
  endpoints:
    web:
      exposure:
        include: '*'
server:
  port: 8085
spring:
  application:
    name: nacos-provider
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848